* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e09c6c;
    width: 100%;
    height: 80px;
}

label.logo-un {
    color: #005954 !important;
    font-size: 20px;
    font-weight: bold;
}

label.logo-deux {
    color: #7a2888 !important;
    font-size: 10px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}


nav ul li a {
    color: #005954 !important;
    font-size: 15px;
}

.checkbtn {
    font-size: 30px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width:1150px) {
    label.logo-un {
        font-size: 18px;
    }

    label.logo-deux {
        font-size: 8px;
    }

    nav ul li {
        display: inline-block;
        margin: 0 5px;
    }

    nav ul li a {
        font-size: 13px;
    }
}

/* Media query pour les écrans dont la largeur est inférieure ou égale à 990 pixels */
@media (max-width: 990px) {
    /* Styles pour le bouton de menu */
    .checkbtn {
        display: block; /* Affiche le bouton en tant que bloc */
    }

    /* Styles pour la liste déroulante du menu */
    ul {
        position: fixed; /* Position fixe pour rester visible lors du défilement */
        display: flex; /* Utilisation de Flexbox pour la mise en page */
        flex-direction: column; /* Affichage des éléments en colonne */
        align-items: center; /* Centrage horizontal des éléments */
        width: 100%; /* Largeur totale de la fenêtre */
        height: 100vh; /* Hauteur égale à la hauteur de la fenêtre */
        top: 80px; /* Décalage de 80 pixels depuis le haut de la fenêtre */
        background: #f8f5f3; /* Couleur de fond */
        left: -100%; /* Position initiale hors de l'écran */
        text-align: center; /* Centrage du texte */
        transition: all .5s; /* Transition fluide de tous les styles */
    }

    /* Styles pour les éléments de la liste du menu */
    nav ul li {
        display: block; /* Affichage en tant que bloc */
        margin-bottom: 40px; /* Marge inférieure pour espacement vertical */
        line-height: 30px; /* Hauteur de ligne */
    }

    /* Styles pour les liens dans la liste du menu */
    nav ul li a {
        font-size: 20px; /* Taille de police */
    }

    /* Styles pour afficher la liste du menu lorsque la case à cocher est cochée */
    #check:checked ~ ul {
        left: 0; /* Positionnement à gauche de la fenêtre */
    }
}

.input-resize {
    width: 300px;
    border-radius: 19px/50%;
}

.btn-icon {
    height: 45px;
    width: 50px;
    border-radius: 50%;
    background-color: #005954 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-full-name {
    width: 85px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nb-articles {
    width: 20px;
    height: 20px;
    background-color: #CA7B42;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    font-size: 70%;
    font-weight: bolder;
}

.list {
    position: absolute;
    padding: 0 24px;
    margin: 0px;
    width: 300px;
    max-height: 300px;
}