* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

li,
ul {
    list-style: none;
    padding: 0;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #005954 !important;
}

.input-resize {
    width: 300px;
    border-radius: 19px/50%;
}

.btn-icon {
    height: 45px;
    width: 50px;
    border-radius: 50%;
    background-color: #005954 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-full-name {
    width: 85px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nb-articles {
    width: 20px;
    background-color: #CA7B42;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    font-size: 70%;
    font-weight: bolder;
}

.list {
    position: absolute;
    padding: 0 24px;
    margin: 0px;
    width: 300px;
    max-height: 300px;
}